@import "tailwindcss";


@theme {
  --color-seagreen: #061430; 
  --color-green: #0F083A; 
  --color-deep-green: #123D35;
  --color-skyblue: #1DA1F2; 
  --color-Aqua: #00EAEA; 
  --color-light-aqua: #00FE2A; 
  --color-Royal-Purple: #4A00E0; 
  --color-pinkish: #FFEFEF; 
  --color-light-gray: #F7F7F7;
  --color-soft-gray: #E6E6F2;
  --color-serviceborder: #4DB15A;
  
  
  --font-inter: "Inter", "sans-serif"; 
  --font-poppins: "Poppins", "sans-serif"; 
  --font-roboto: "Roboto", "sans-serif"; 
  
  --spacing-15: 15px;
  --spacing-18: 18px;
  --spacing-21: 21px;
  --spacing-23: 23px;
  --spacing-27: 27px;
  --spacing-29: 29px; 
  --spacing-30: 30px; 
  --spacing-31: 31px;
  --spacing-43: 43px;
  --spacing-45: 45px;
  --spacing-55: 55px;
  --spacing-73: 73px; 
  --spacing-74: 74px; 
  --spacing-80: 80px;
  --spacing-83: 83px;
  --spacing-94: 94px; 
  --spacing-110: 110px; 
  --spacing-132: 132px;
  --spacing-156: 156px;
  --spacing-190: 190px; 
  --spacing-230: 230px; 
  --spacing-232: 232px; 
  --spacing-250: 250px;
  --spacing-296: 296px;
  --spacing-116: 116px;
  --spacing-300: 300px;
  --spacing-322: 322px;
  --spacing-335: 335px;
  --spacing-360: 360px;
  --spacing-416: 416px;
  --spacing-417: 417px;
  --spacing-421: 421px;
  --spacing-491: 491px;
  --spacing-560: 560px;
  --spacing-591: 591px;
  --spacing-657: 657px;
  --spacing-654: 654px;
  --spacing-826: 826px;
  
  
  
  /* font size */
  --text-45: 45px;
  --text-70: 70px;
  --text-80: 80px;
}






@keyframes servicesDropdownOpen {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes servicesDropdownOpen {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes graphicDropdownOpen {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes graphicDropdownClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  
  to {
    opacity: 0;
    transform: translateX(15px);
  }
}

.services-animation-open {
  animation: servicesDropdownOpen 0.3s ease-out;
}
.services-animation-close {
  animation: servicesDropdownClose 0.3s ease-out;
}

.graphic-animation-open {
  animation: graphicDropdownOpen 0.25s ease-out;
}
.graphic-animation-close {
  animation: graphicDropdownClose 0.25s ease-out;
}